* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

.home-body {
  height: 100vh;
  background: linear-gradient(#550059, #b600bf);
  background-repeat: no-repeat;
  color: white;
}

/* ホーム画面 */
.home-header {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 30px;
}

.home {
  opacity: 0;
  visibility: hidden;
  transition: all 4s;
  transform: translateY(600px);
}

.home-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.greet {
  font-size: 20px;
}

.welcome-text {
  opacity: 0;
  visibility: hidden;
  transition: all 2s;
  transform: translateY(100px);
}

div p {
  text-align: center;
}

.material-symbols-outlined {
  padding-bottom: 5px;
}

.move ul {
  display: flex;
  justify-content: center;
  text-align: center;
}

.move li {
  list-style: none;
  margin: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(98, 20, 117);
  border-radius: 5px;
}

.move a {
  color: #fff;
}

.is-active {
  /*要素を表示させる*/
  opacity: 1;
  visibility: visible;
  /*元の位置に戻す*/
  transform: translateY(50%);
}

.second-active {
  opacity: 1;
  visibility: visible;
  /*元の位置に戻す*/
  transform: translateY(0);
}


/* new */
.new-body {
  /* height: 100vh; */
  background: linear-gradient(#8d0194, #b600bf);
  background-repeat: no-repeat;
  color: white;
}

.new-header {
  width: 100%;
  
  /* position: fixed; */
}
.new-date {
  font-size: 40px;
  text-align: center;
}

.header-content { 
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 100%;
  display: flex;
  align-items: center;
  border-bottom: 5px solid #fff;
  position: fixed;
  top: 0;
  left: 0;
}

header nav {
  margin-left: auto;
}

nav .material-symbols-outlined {
  font-size: 30px;
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  margin-left: 40px;
}

header nav ul li a {
  text-decoration: none;
  color: #fff;
}


.new-footer {
  position: fixed;
  bottom: 0px;
  text-align: center;
  width: 100%;
  height: 30px;
  background: rgb(98, 20, 117);
}

.new-footer a {
  color: #fff;
}