* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

.home-body {
  height: 100vh;
  background: linear-gradient(#550059, #b600bf);
  background-repeat: no-repeat;
  color: white;
}

/* ホーム画面 */
.home-header {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 30px;
}

.home {
  opacity: 0;
  visibility: hidden;
  transition: all 4s;
  transform: translateY(600px);
}

.home-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.greet {
  font-size: 20px;
}

.welcome-text {
  opacity: 0;
  visibility: hidden;
  transition: all 2s;
  transform: translateY(100px);
}

div p {
  text-align: center;
}

.material-symbols-outlined {
  padding-bottom: 5px;
}

.move ul {
  display: flex;
  justify-content: center;
  text-align: center;
}

.move li {
  list-style: none;
  margin: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: rgb(98, 20, 117);
  border-radius: 5px;
}

.move a {
  color: #fff;
}

.is-active {
  /*要素を表示させる*/
  opacity: 1;
  visibility: visible;
  /*元の位置に戻す*/
  transform: translateY(50%);
}

.second-active {
  opacity: 1;
  visibility: visible;
  /*元の位置に戻す*/
  transform: translateY(0);
}

/* new */
.new-body {
  min-height: 100vh;
  background: linear-gradient(#8d0194, #b600bf);
  background-repeat: no-repeat;
  color: #fde5fb;
}

.new-header {
  width: 100%;
}
.new-date {
  font-size: 40px;
  text-align: center;
}

.header-content {
  padding-left: 20px;
  padding-top: 10px;
  padding-right: 100%;
  display: flex;
  align-items: center;
  border-bottom: 5px solid #e4c2e1;
  position: fixed;
  top: 0;
  left: 0;
}

header nav {
  margin-left: auto;
}

nav .material-symbols-outlined {
  font-size: 30px;
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  margin-left: 40px;
}

header nav ul li a {
  text-decoration: none;
  color: #fde5fb;
}

.menu {
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #b600bf;
  text-align: center;
  border-radius: 5px;
  background-color: #fde5fb;
}

.mkitem {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%)
             translateY(-50%);
}

.mkitem .select-menu {
  text-align: center;
  padding-right: 5px;
}

.mkitem button {
  background-color: #fde5fb;
  border: 0.5px solid #fde5fb;
  border-radius: 5px;
  color: #b600bf;
}



main table {
  margin: auto;
  padding-top: 200px;

}
.new-table {
  margin: auto;
  padding: 0;
}

/* table .subcap {
  padding: 0;
  margin: 0;
} */

table textarea {
  font-size: 20px;
  width: 600px;
  height: 400px;
  padding: 10px;
  border-radius: 20px;
  background-color: #550059;
  color: #fff;
}
table button {
  background-color: #fde5fb;
  border: 0.5px solid #fde5fb;
  border-radius: 5px;
  color: #b600bf;
}